# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Rust
target/
**/*.rs.bk

# SQLite
*.db
*.db-journal
*.db-shm
*.db-wal

# Tauri
src-tauri/target
src-tauri/gen
src-tauri/WebView2Loader.dll
**/dist

# Workspace
.turbo
.next
out

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example
